{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}

{% block body %}
{% include('includes/header.html.twig') %}

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8" data-controller="scroll-pagination">
	<div data-scroll-pagination-target="offers" class="max-sm:pt-12 grid grid-cols-3 gap-4 max-sm:grid-cols-1 mt-8 mb-8">
		{% for offer in offers.resultats %}
			<div class="bg-white p-12 rounded-lg border border-indigo-500">
				<p class="text-sm text-gray-500">Intitulé du poste</p>
				<h2 id="offreTitle" class="text-2xl mb-6 text-indigo-600 uppercase">{{offer.intitule}}</h2>
				<div class="line-clamp-4 mb-6">
					<small class="text-sm text-gray-500">
						Description du poste
					</small>
					<p id="offreDescription">{{offer.description}}</p>
				</div>
				<div class="mb-6">
					<small class="text-sm text-gray-500">
						Commune
					</small>
					<p id="offreLocation">{{offer.lieuTravail.libelle}}</p>
				</div>
				<div class="mb-6">
					<small class="text-sm text-gray-500">
						Entreprise
					</small>
					{% if offer.entreprise.nom is defined %}
						<p id="entrepriseName">{{offer.entreprise.nom}}</p>
					{% endif %}
				</div>
			</div>
		{% endfor %}
    </div>
    {# Prototype de l'offre #}
    <div data-scroll-pagination-target="prototype" class="bg-white p-12 rounded-lg border border-indigo-500 hidden">
        <p class="text-sm text-gray-500">Intitulé du poste</p>
        <h2 id="offreTitle" class="text-2xl mb-6 text-indigo-600 uppercase"></h2>
        <div class="line-clamp-4 mb-6">
            <small class="text-sm text-gray-500">
                Description du poste
            </small>
            <p id="offreDescription"></p>
        </div>
        <div class="mb-6">
            <small class="text-sm text-gray-500">
                Commune
            </small>
            <p id="offreLocation"></p>
        </div>
        <div class="mb-6">
            <small class="text-sm text-gray-500">
                Entreprise
            </small>
            <p id="entrepriseName">
            </p>
        </div>
    </div>
</div>


{% endblock %}




