<div class="spinner">
    <div class="rect1 bg-violet-700"></div>
    <div class="rect2 bg-violet-700"></div>
    <div class="rect3 bg-violet-700"></div>
    <div class="rect4 bg-violet-700"></div>
    <div class="rect5 bg-violet-700"></div>
</div>